.slider1 {
    background-image: url('../images/sliders/slider1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider2 {
    background-image: url('../images/sliders/slider2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider-text {
    display: flex;
    align-items: center;
}
.slider-text > div {
    padding-left: 7%;
}

.virtual-glasses {
    background: url('../images/banners/banner1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mute-headphone {
    background: url('../images/banners/banner2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* categories */
.categories {
    background: url('../images/category/bg-cats.jpg');
    background-size: 100% 100%;
}

.cate-1 {
    background: url('../images/category/cate1.jpg');
}
.cate-2 {
    background: url('../images/category/cate2.jpg');
}
.cate-3 {
    background: url('../images/category/cate3.jpg');
}
.cate-4 {
    background: url('../images/category/cate4.jpg');
}
.cate {
    background-size: 100% 100%;
    border-radius: 2px;
}

/* special product */
.Xbox {
    background: url('../images/banners/banner3.jpg');

}
.zeblaze-clock {
    background: url('../images/banners/banner4.jpg');

}

.cover-bg {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* testimonial  */
.testimonial {
    background: url('../images/tesstimonials/bg-testimonials.jpg');
    background-size: cover;
    background-position: center;
}

/* brands images  */
.brands img {
    filter: grayscale(100);
}